

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <h1>
      Timestamp Microservice
    </h1>
    
    <div class="main-box"> 
      <div class="text-box">
        
      
        <h3>
          How to Use
        </h3>
        <hr>
        <p>
          Can pass either a date in  Month Day Year format or as a unix timestamp and both of them
          back in a json object. Can use full month name or abbreviated name. 
        </p>
        <br>
        <p>
          Be sure to leave space or commas between the date values.
        </p>
        <hr>
        <h5>
          A few example calls:
        </h5>
        <ul>
          <li>https://timestampcallback.glitch.me/June 21, 1999</li>
          <li>https://timestampcallback.glitch.me/Feb%2017%202004</li>
          <li>https://timestampcallback.glitch.me/1234823872</li>
        </ul>
  
        <h5>
          The responses ready to go in json format:
        </h5>
        <ul>
          <li>{"unix": 929923200, "natural": "june 21, 1999"}</li>
          <li>{"unix": 1076976000, "natural": "february 17, 2004"} </li>
          <li>{"unix": 1234823872, "natural": "february 16, 2009"}</li>
        </ul>
        <br>
        <hr>
        <p class="footNote">
          Project made by Ben Wakefield for <a href="https://www.freecodecamp.org/be3n2">freecodecamp's</a> timestamp microservice backend project.
          More info on <a href="https://github.com/Be3N2/Timestamp-Microservice">Github</a>.
        </p>
        <br>
      </div>
      
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
